/part1/exercise_1.10/frontend-example-docker
/part1/exercise_1.11/backend-example-docker
/part2/exercise_2.7/ml-kurkkumopo-backend
/part2/exercise_2.7/ml-kurkkumopo-frontend
/part2/exercise_2.7/ml-kurkkumopo-training
part2/exercise_2.9/database
